# DataOS infra & secrets
instance_depot_creation/
output/
repo-cred/

# Lens deployment (environment specific)
semantic-model/lens_deployment.yaml
D:\SJ_DP\deployment\sj-bundle.yaml
D:\SJ_DP\deployment\sj-dp-scanner
D:\SJ_DP\deployment\sj-dp-spec